## EXAMPLES

In [2]:
import numpy as np
import pandas as pd

In [1]:
# ==============================
# Import required libraries
# ==============================
import numpy as np
import pandas as pd

# ==============================
# Problem 1: Bacterial Growth
# ==============================
print("=== Problem 1: Bacterial Growth ===")
initial_bacteria = 500
doubling_time = 3  # hours
total_hours = 24

# Time points every 3 hours
time_points = np.arange(0, total_hours+1, 3)
# Bacterial population at each time point
population = initial_bacteria * 2**(time_points / doubling_time)
print("Time (h):", time_points)
print("Population:", population)
print("Total bacteria after 24h:", population[-1])
print("\n")

# ==============================
# Problem 2: Enzyme Activity
# ==============================
print("=== Problem 2: Enzyme Activity ===")
data = {
    'Temperature': [20, 25, 30, 35, 40],
    'Activity': [15, 28, 45, 50, 38]
}

df_activity = pd.DataFrame(data)
print(df_activity)
print("Mean activity:", df_activity['Activity'].mean())
print("Max activity:", df_activity['Activity'].max())
print("Min activity:", df_activity['Activity'].min())
# Temperature with highest activity
max_temp = df_activity.loc[df_activity['Activity'].idxmax(), 'Temperature']
print("Temperature with highest activity:", max_temp)
print("\n")

# ==============================
# Problem 3: Protein Molecular Weight
# ==============================
print("=== Problem 3: Protein Molecular Weight ===")
sequence = "ACDEG"
aa_weights = {'A': 89.09, 'C': 121.15, 'D': 133.10, 'E': 147.13, 'G': 75.07}

# Convert sequence to NumPy array of weights
weights_array = np.array([aa_weights[aa] for aa in sequence])
print("Amino acid weights:", weights_array)
total_weight = weights_array.sum()
print("Total molecular weight:", total_weight)

# Create a DataFrame
df_protein = pd.DataFrame({'AminoAcid': list(sequence), 'Weight': weights_array})
print(df_protein)
print("\n")

# ==============================
# Problem 4: Microbial Colony Distribution
# ==============================
print("=== Problem 4: Microbial Colony Distribution ===")
colony_data = {
    'Species': ['Bacillus', 'E.coli', 'Staph', 'Pseudomonas', 'Lactobacillus'],
    'Dish1': [23, 34, 12, 9, 15],
    'Dish2': [45, 28, 18, 14, 20],
    'Dish3': [12, 40, 20, 11, 18]
}

df_colonies = pd.DataFrame(colony_data)
print(df_colonies)

# Average colony count per species
df_colonies['Average'] = df_colonies[['Dish1','Dish2','Dish3']].mean(axis=1)
print("Average colonies per species:\n", df_colonies[['Species','Average']])

# Species with highest total colonies
df_colonies['Total'] = df_colonies[['Dish1','Dish2','Dish3']].sum(axis=1)
max_species = df_colonies.loc[df_colonies['Total'].idxmax(), 'Species']
print("Species with highest total colonies:", max_species)

# Convert to NumPy array and total colonies
colony_array = df_colonies[['Dish1','Dish2','Dish3']].values
overall_total = colony_array.sum()
print("Overall total colonies:", overall_total)

=== Problem 1: Bacterial Growth ===
Time (h): [ 0  3  6  9 12 15 18 21 24]
Population: [   500.   1000.   2000.   4000.   8000.  16000.  32000.  64000. 128000.]
Total bacteria after 24h: 128000.0


=== Problem 2: Enzyme Activity ===
   Temperature  Activity
0           20        15
1           25        28
2           30        45
3           35        50
4           40        38
Mean activity: 35.2
Max activity: 50
Min activity: 15
Temperature with highest activity: 35


=== Problem 3: Protein Molecular Weight ===
Amino acid weights: [ 89.09 121.15 133.1  147.13  75.07]
Total molecular weight: 565.54
  AminoAcid  Weight
0         A   89.09
1         C  121.15
2         D  133.10
3         E  147.13
4         G   75.07


=== Problem 4: Microbial Colony Distribution ===
         Species  Dish1  Dish2  Dish3
0       Bacillus     23     45     12
1         E.coli     34     28     40
2          Staph     12     18     20
3    Pseudomonas      9     14     11
4  Lactobacillus     15     20     18
Average colonies per species:
          Species    Average
0       Bacillus  26.666667
1         E.coli  34.000000
2          Staph  16.666667
3    Pseudomonas  11.333333
4  Lactobacillus  17.666667
Species with highest total colonies: E.coli
Overall total colonies: 319

In [9]:
# ==============================
# 1️⃣ Bacterial Growth Series (NumPy)
# ==============================
print("=== Problem 1: Bacterial Growth ===")
initial_bacteria = 100
doubling_time = 2  # hours
total_hours = 24

time_points = np.arange(0, total_hours+1, 2)
population = initial_bacteria * 2**(time_points / doubling_time)
print("Time (h):", time_points)
print("Population:", population)
print("\n")

=== Problem 1: Bacterial Growth ===
Time (h): [ 0  2  4  6  8 10 12 14 16 18 20 22 24]
Population: [1.000e+02 2.000e+02 4.000e+02 8.000e+02 1.600e+03 3.200e+03 6.400e+03
 1.280e+04 2.560e+04 5.120e+04 1.024e+05 2.048e+05 4.096e+05]

In [3]:
# ==============================
# 2️⃣ Temperature vs Enzyme Activity (Pandas Series)
# ==============================
print("=== Problem 2: Temperature vs Enzyme Activity ===")
temperature = [20, 25, 30, 35, 40]
activity = [10, 25, 40, 55, 45]

enzyme_series = pd.Series(data=activity, index=temperature)
print(enzyme_series)
print("Mean activity:", enzyme_series.mean())
print("Max activity:", enzyme_series.max())
print("Min activity:", enzyme_series.min())
print("\n")

=== Problem 2: Temperature vs Enzyme Activity ===
20    10
25    25
30    40
35    55
40    45
dtype: int64
Mean activity: 35.0
Max activity: 55
Min activity: 10

In [5]:

# 3️⃣ Antibiotic Concentration Decline (NumPy)
# ==============================
print("=== Problem 3: Antibiotic Concentration Decline ===")
initial_concentration = 100  # µg/mL
decay_rate = 0.15  # 15% per hour
hours = np.arange(0, 13)  # 0 to 12 hours

concentration = initial_concentration * (1 - decay_rate)**hours
print("Hours:", hours)
print("Concentration (µg/mL):", concentration)
print("\n")

=== Problem 3: Antibiotic Concentration Decline ===
Hours: [ 0  1  2  3  4  5  6  7  8  9 10 11 12]
Concentration (µg/mL): [100.          85.          72.25        61.4125      52.200625
  44.37053125  37.71495156  32.05770883  27.2490525   23.16169463
  19.68744043  16.73432437  14.22417571]

In [7]:
## 4️⃣ Microbial Colony Counts (Pandas Series)
# ==============================
print("=== Problem 4: Microbial Colony Counts ===")
colonies = [34, 28, 40, 30, 25]
colony_series = pd.Series(colonies, index=['Dish1', 'Dish2', 'Dish3', 'Dish4', 'Dish5'])
print(colony_series)
print("Mean colonies:", colony_series.mean())
print("Max colonies:", colony_series.max())
print("Min colonies:", colony_series.min())
print("\n")

=== Problem 4: Microbial Colony Counts ===
Dish1    34
Dish2    28
Dish3    40
Dish4    30
Dish5    25
dtype: int64
Mean colonies: 31.4
Max colonies: 40
Min colonies: 25

In [8]:
# 5️⃣ Protein Amino Acid Weights (NumPy)
# ==============================
print("=== Problem 5: Protein Amino Acid Weights ===")
sequence = "ACDEFG"
aa_weights = {'A': 89, 'C':121, 'D':133, 'E':147, 'F':165, 'G':75}

weights_array = np.array([aa_weights[aa] for aa in sequence])
print("Amino acid weights:", weights_array)
print("Total molecular weight:", weights_array.sum())
print("Average weight:", weights_array.mean())
print("\n")

# ==============================
# 6️⃣ Microbial Species Abundance (Pandas Series)
# ==============================
print("=== Problem 6: Microbial Species Abundance ===")
species = ['Bacillus', 'E.coli', 'Staphylococcus', 'Lactobacillus']
colonies_count = [120, 150, 90, 110]

species_series = pd.Series(data=colonies_count, index=species)
print(species_series)
print("Species with highest abundance:", species_series.idxmax())
print("Species with lowest abundance:", species_series.idxmin())

=== Problem 5: Protein Amino Acid Weights ===
Amino acid weights: [ 89 121 133 147 165  75]
Total molecular weight: 730
Average weight: 121.66666666666667


=== Problem 6: Microbial Species Abundance ===
Bacillus          120
E.coli            150
Staphylococcus     90
Lactobacillus     110
dtype: int64
Species with highest abundance: E.coli
Species with lowest abundance: Staphylococcus

## DATA FRAME

## data is stored in data frame as dictionary

In [15]:
a = {
    'specie' : ['bacteria', 'virus', 'fungi', 'protozoa'],
    'growth_time' : [24,24,48,12],
    'grwoth_rate' : [2.5,3.0,1.5,4.0]
}

In [17]:
a = pd.DataFrame(a)

In [18]:
print(df)

    species  growth_time  growth_rate
0  bacteria           24          2.5
1     virus           24          3.0
2     fungi           48          1.5
3  protozoa           12          4.0

In [25]:
a = {
    'specie' : ['bacteria', 'virus', 'fungi', 'protozoa'],
    'growth_time' : [24,24,48,12],
    'grwoth_rate' : [2.5,3.0,1.5,4.0]
}

## Index

In [27]:
data = pd.DataFrame({
    'specie' : ['bacteria', 'virus', 'fungi', 'protozoa'],
    'growth_time' : [24,24,48,12],
    'grwoth_rate' : [2.5,3.0,1.5,4.0]
}, index =['a','b','c','d'])
print(data)

     specie  growth_time  grwoth_rate
a  bacteria           24          2.5
b     virus           24          3.0
c     fungi           48          1.5
d  protozoa           12          4.0

In [22]:
# ==========================================
# Microbial Growth Dataset (5 columns × 20 rows)
# ==========================================

import pandas as pd
import numpy as np

# Random seed for reproducibility
np.random.seed(42)

# Define possible microbial species
species_list = ['Bacteria', 'Virus', 'Fungi', 'Protozoa']

# Create a dictionary to hold dataset values
data = {
    'Species': np.random.choice(species_list, 20),                # Randomly pick species
    'Growth_Time_hr': np.random.choice([12, 24, 36, 48], 20),     # Growth time in hours
    'Growth_Rate': np.round(np.random.uniform(1.0, 5.0, 20), 2),  # Growth rate (arbitrary units)
    'Temperature_°C': np.random.choice([25, 30, 35, 37, 40], 20), # Incubation temperature
    'pH_Level': np.round(np.random.uniform(5.0, 8.0, 20), 2)      # pH of medium
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print("=== Microbial Growth Dataset ===")
print(df)

# Optional: Basic statistics summary
print("\n=== Summary Statistics ===")
print(df.describe())

=== Microbial Growth Dataset ===
     Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
0      Fungi              24         3.45              37      6.17
1   Protozoa              12         1.56              40      5.81
2   Bacteria              24         2.17              35      7.49
3      Fungi              48         2.47              25      6.07
4      Fungi              48         2.82              37      5.84
5   Protozoa              24         4.14              30      6.63
6   Bacteria              24         1.80              37      5.42
7   Bacteria              24         3.06              30      7.41
8      Fungi              48         3.37              30      5.22
9      Virus              48         1.19              37      7.96
10     Fungi              12         3.43              40      7.32
11     Fungi              12         1.68              30      5.60
12     Fungi              48         1.26              30      5.02
13     Fungi              24         4.80              37      7.45
14  Protozoa              24         4.86              30      7.12
15  Bacteria              12         4.23              30      7.19
16  Protozoa              48         2.22              37      7.31
17  Protozoa              12         1.39              37      5.22
18  Protozoa              12         3.74              25      6.08
19     Fungi              36         2.76              40      5.35

=== Summary Statistics ===
       Growth_Time_hr  Growth_Rate  Temperature_°C   pH_Level
count       20.000000    20.000000       20.000000  20.000000
mean        28.200000     2.820000       33.700000   6.384000
std         14.709825     1.164375        4.835178   0.943874
min         12.000000     1.190000       25.000000   5.020000
25%         12.000000     1.770000       30.000000   5.555000
50%         24.000000     2.790000       36.000000   6.125000
75%         48.000000     3.522500       37.000000   7.312500
max         48.000000     4.860000       40.000000   7.960000

In [31]:

df.head()

    Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
0     Fungi              24         3.45              37      6.17
1  Protozoa              12         1.56              40      5.81
2  Bacteria              24         2.17              35      7.49
3     Fungi              48         2.47              25      6.07
4     Fungi              48         2.82              37      5.84

## Head

In [33]:
df.head(3)

    Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
0     Fungi              24         3.45              37      6.17
1  Protozoa              12         1.56              40      5.81
2  Bacteria              24         2.17              35      7.49

In [34]:
df.tail()

     Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
15  Bacteria              12         4.23              30      7.19
16  Protozoa              48         2.22              37      7.31
17  Protozoa              12         1.39              37      5.22
18  Protozoa              12         3.74              25      6.08
19     Fungi              36         2.76              40      5.35

## Tail

In [35]:
df.tail(3)

     Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
17  Protozoa              12         1.39              37      5.22
18  Protozoa              12         3.74              25      6.08
19     Fungi              36         2.76              40      5.35

## Shape

In [36]:
df.shape

(20, 5)

## Storing data in different files

# CSV

In [ ]:
df.to_csv('output.csv', index=False)

# EXCEL

In [38]:
df.to_excel('output.xlsx', index=False)

# JAVA_SCRIPT

In [39]:
df.to_json('output.json', index=False)

## Reading File

In [40]:
df1 = pd.read_csv('output.csv')

In [42]:
df2 = pd.read_excel('output.xlsx')

In [46]:
df3 = pd.read_json('output.json')

In [43]:
df1.shape

(20, 5)

In [44]:
df2.head()

    Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
0     Fungi              24         3.45              37      6.17
1  Protozoa              12         1.56              40      5.81
2  Bacteria              24         2.17              35      7.49
3     Fungi              48         2.47              25      6.07
4     Fungi              48         2.82              37      5.84

In [45]:
df1.tail()

     Species  Growth_Time_hr  Growth_Rate  Temperature_°C  pH_Level
15  Bacteria              12         4.23              30      7.19
16  Protozoa              48         2.22              37      7.31
17  Protozoa              12         1.39              37      5.22
18  Protozoa              12         3.74              25      6.08
19     Fungi              36         2.76              40      5.35

## Structure of Data

## file name = e.g Data_Set
access = data_set/name
data_set.outout.jason

In [47]:
df4 = pd.read_excel('GM_IM.xlsx')

In [ ]:
df4.shape

(4, 5)

In [49]:
df4.tail()

  Time interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2
0         0 min          0.19          0.33         0.48         0.13
1        30 min          0.35          0.27         0.31         0.14
2          1 hr          0.39          0.17         0.28         0.24
3          2 hr          0.32          0.26         0.30         0.22

In [50]:
df4.head()

  Time interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2
0         0 min          0.19          0.33         0.48         0.13
1        30 min          0.35          0.27         0.31         0.14
2          1 hr          0.39          0.17         0.28         0.24
3          2 hr          0.32          0.26         0.30         0.22

## Data_type
a.dtype ##data type

df.info()

df.sample()

In [52]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time interval  4 non-null      object
 1   Outside Exp1   4 non-null      float64
 2   Outside Exp2   4 non-null      float64
 3   Inside Exp1    4 non-null      float64
 4   Inside Exp2    4 non-null      float64
dtypes: float64(4), object(1)
memory usage: 292.0+ bytes

In [55]:
# ==========================================
# Experimental Data
# ==========================================
data = {
    'Time Interval': ['0 min', '30 min', '1 hr', '2 hr'],
    'Outside Exp1': [0.19, 0.35, 0.39, 0.32],
    'Outside Exp2': [0.33, 0.27, 0.17, 0.26],
    'Inside Exp1': [0.48, 0.31, 0.28, 0.30],
    'Inside Exp2': [0.13, 0.14, 0.24, 0.22]
}

# Create DataFrame
df = pd.DataFrame(data)
print("=== Experimental Data ===")
print(df)

# ==========================================
# Calculate Standard Deviation for Each Column
# ==========================================
std_values = df[['Outside Exp1', 'Outside Exp2', 'Inside Exp1', 'Inside Exp2']].std()
print("\n=== Standard Deviation ===")
print(std_values)

=== Experimental Data ===
  Time Interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2
0         0 min          0.19          0.33         0.48         0.13
1        30 min          0.35          0.27         0.31         0.14
2          1 hr          0.39          0.17         0.28         0.24
3          2 hr          0.32          0.26         0.30         0.22

=== Standard Deviation ===
Outside Exp1    0.086554
Outside Exp2    0.066018
Inside Exp1     0.092511
Inside Exp2     0.055603
dtype: float64

In [56]:
df4.sample(2)

  Time interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2
3          2 hr          0.32          0.26         0.30         0.22
1        30 min          0.35          0.27         0.31         0.14

In [ ]:
df = df.set_index('Time Interval')
print(df)

NameError: name 'data' is not defined

In [60]:

data = {
    'Time interval': ['0 min', '30 min', '1 hr', '2 hr'],
    'Outside Exp1': [0.19, 0.35, 0.39, 0.32],
    'Outside Exp2': [0.33, 0.27, 0.17, 0.26],
    'Inside Exp1': [0.48, 0.31, 0.28, 0.30],
    'Inside Exp2': [0.13, 0.14, 0.24, 0.22]
}
df = pd.DataFrame(data)
selected_columns = df.iloc[:, [1, 4]]
selected_columns.to_json('selected_data.json', orient='records', indent=4)

print("JSON file 'selected_data.json' has been created successfully!")
print(selected_columns)

JSON file 'selected_data.json' has been created successfully!
   Outside Exp1  Inside Exp2
0          0.19         0.13
1          0.35         0.14
2          0.39         0.24
3          0.32         0.22

In [61]:
df5 = data[
    'Outside Exp1'
]

In [63]:
print(df5)

[0.19, 0.35, 0.39, 0.32]

In [67]:
df6 = data [
    'Outside Exp2'
]

In [68]:
print(df6)

[0.33, 0.27, 0.17, 0.26]

## Selection of Rows on index basis

In [72]:
data = {
    'Time interval': ['0 min', '30 min', '1 hr', '2 hr'],
    'Outside Exp1': [0.19, 0.35, 0.39, 0.32],
    'Outside Exp2': [0.33, 0.27, 0.17, 0.26],
    'Inside Exp1': [0.48, 0.31, 0.28, 0.30],
    'Inside Exp2': [0.13, 0.14, 0.24, 0.22]
}

In [74]:
GM_IM = pd.DataFrame(data)

## Sample_data.loc[] ### index

sample_data.loc[3]

sample_data.loc[0:1]

sample_data.iloc #### position